%table(cellpadding='0px' cellspacing='0px' )
	- post_index = 0
	- @posts.each do |post| 
		- post_index = post_index + 1
		%tr
			%td(width='20px')
				%label= "#{post_index}."
			%td
				%a(href="#{post.url}")= post.title
		%tr
			%td
			%td
				.byline
					%label= "by #{post.author} -  #{post.get_time_since_post}"
		%tr(style='height:10px')

.previousnext
	%span(class='previous')
		- if @page_number != 0
			%a(href="/pages/#{@page_number-1}") Previous
		- else
			%label &lt; Previous

	%span(class='next')
		%a(href="/pages/#{@page_number+1}" valign='right') Next &gt;
